
body {
  background-color: rgba(190 ,217, 249, 1);


}

button {
  background-color: purple;
  color: white;

}

div{
  display: block;
  text-align: center;
}

#first {
display: contents;
}
#second {
  display:none;

}
#info{
  border: 1px solid black;
}

.topbar{
  display: inline;

}
#playerStatus{
  width: 25%;

}
#healStatus{
  width: 25%;

}
#winStatus{
  width: 25%;

}



}
