
body {
  background-color: rgba(190 ,217, 249, 1);

}

button {
  background-color: purple;
  color: white;

}

div{
  display: block;
  text-align: center;
}

#first {
display: contents;
}
#second {
  display:none;
 border: 2px solid black
}
